.counter-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.counter-container .prev-btn{
    width: 80px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    background: green;
    color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    
}
.counter-container .next-btn{
    width: 80px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    background: green;
    color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}